
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>순위</th>
        <th>제목</th>
        <th>작성자</th>
        <th>클릭수</th>
      </tr>
    </thead>
    <tbody>
    {{#each rows}}
      <tr>
        <td>{{no}}</td>
        <td><a href="{{{href}}}" target="_self">{{title}}</a></td>
        <td>{{dateStr}}</td>
        <td>{{writer}}</td>
        <td>{{hit}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
